h1 {
  color: SeaGreen;
  font-style: italic;
}

p, li {
  font-size: 18px;
}

a {
  text-decoration: none;
}


/* header formatting */
header {
  display: flex;
  justify-content: space-evenly;
}

#nameHeader {
  float: left;
}